# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo

# Node
node_modules/

# Logs
*.log

# Environment files
.env

# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

# VSCode
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project
